{% extends 'base.html' %}

{%load static%}

{%block meta%}
<!-- HTML Defaults Broweser -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Bootstrap Stylesheet and Jquery, Google APIS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/lvels/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/lvels/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<!-- Online Calculator Guru Site Fevicon -->
<link rel="shortcut icon" href="https://onlinecalculator.guru/static/images/logo/Online-Calculator-Guru-Fevicon.png"
    type="icon">
<!-- Online Calculator Guru Project Style Sheet -->
{%block css%}
<link rel="stylesheet" href="https://onlinecalculator.guru/static/style.css">
{%endblock%}
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<!-- Meta Title, Description and Canonical URL Starts --->
<title>AC DC Calculator</title>
<meta name="description" content="Learn how to use an AC to DC converter calculator with the step-by-step procedure." />
<link rel="canonical" href="{{request.build_absolute_uri}}">
<!-- Meta Title, Description and Canonical URL ENDS --->

<!-- OPEN GRAPH CONFIGURATIONS STARTS -->
<!--  FACEBOOK CONFIGURATION STARTS  -->
<meta content="https://www.facebook.com/OnlineCalculator-Guru-131572098650589/" property="og:url" />
<meta property="og:title" content="Theoretical Yeild Calculator | Free Calculator to find Theoretical Yeild" />
<meta property="og:description" content="Theoretical Yeild Calculator" />
<meta content="" property="og:site_name" />
<meta content="https://onlinecalculator.guru/static/images/Chemistry/Theoratical-Yield-Calculator.jpeg"
    property="og:image" />
<meta property="og:image:type" content="image/png" />
<meta property="og:image:height" content="435" />
<meta property="og:image:width" content="354" />
<!--  FACEBOOK CONFIGURATION ENDS  -->
<!-- TWITTER CARD CONFIGURATION STARTS  -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="https://twitter.com/onlinecalculator" />
<meta name="twitter:title" content="Theoretical Yeild Calculator | Free Calculator to find Theoretical Yeild" />
<meta name="twitter:description"
    content="Magnetic force between wires Calculator makes it easy for you to find magnetic force between wires." />
<meta name="twitter:image:src"
    content="https://onlinecalculator.guru/static/images/Chemistry/Theoratical-Yield-Calculator.jpeg" />
<meta property="twitter:image:height" content="435" />
<meta property="twitter:image:width" content="354" />
<!-- TWITTER CARD CONFIGURATION ENDS  -->
<!--  LINKEDIN CONFIGURATION STARTS-->
<meta property='og:title' content="Theoretical Yeild Calculatorr | Theoretical Yeild" />
<meta property='og:image'
    content="https://onlinecalculator.guru/static/images/Chemistry/Theoratical-Yield-Calculator.jpeg" />
<meta property='og:description' content="Magnetic force between wires Calculator." />
<meta property='og:url' content="https://www.linkedin.com/in/onlinecalculator/" />
<!-- end of linkedin CONFIGURATIONS ENDS -->
<!-- OPEN GRAPH CONFIGURATION ENDS -->
<!-- FAQ SCHEMA STARTS -->

{%endblock%}

{%block content%}


<div class="container" style="height: auto !important;">
    <div class="card c1">
        <div class="card-header">
            <h1 class="h1">AC DC Calculator</h1>
        </div>
        <div class="card-body">
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <p {% if message.tags %} id="message_container" class="alert alert-danger text-center" {% endif %}
                    style="color:red">{{ message }}</p>
                {% endfor %}
            </ul>
            {% endif %}

            <form action="" method="POST" id="my_form">
                {% csrf_token %}
                <div class="col-auto">
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><strong>Choose a Calculation</strong></div>
                        </div>
                        <select name="given_data" id="inlineFormInputGroup" class="form-control"
                            onchange="this.form.submit();" autofocus="">

                            {% if given_data == 'form1' %}
                            <option value="form1" selected="selected"> AC to DC </option>
                            {% else %}
                            <option value="form1"> AC to DC </option>
                            {% endif %}

                            {% if given_data == 'form2' %}
                            <option value="form2" selected="selected"> DC to AC </option>
                            {% else %}
                            <option value="form2">DC to AC </option>
                            {% endif %}


                        </select>
                    </div>


                    {% if given_data != "form2" %}
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><strong>Alternating Current (AC)</strong></div>
                        </div>
                        <input type="number" min="0.00000001" max="9999999" oninput="validateNumber(this);" id="inlineFormInputGroup"
                            required="" placeholder="Enter AC Current" class="form-control" name="ac_curr"
                            value="{{ac_curr}}">



                    </div>
                    {% endif %}


                    {% if given_data != "form1" %}
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><strong>Direct Current (DC)</strong></div>
                        </div>
                        <input type="number" min="0.00000001" max="9999999" oninput="validateNumber(this);" id="inlineFormInputGroup"
                            required="" placeholder="Enter DC Current" class="form-control" name="dc_curr"
                            value="{{dc_curr}}">



                    </div>
                    {% endif %}






                    <div class=" center col mt-2 ">
                        <center><button type="submit" class="btn btn-primary" name="f1">Calculate</button>
                            <button type="button" onclick="myFunction()" style="margin-top:5px;"
                                class="btn btn-danger">Reset</button>
                        </center>
                    </div>

            </form>
        </div>
    </div>
</div>
{% if id == 1 %}
<div id="clear">

    {% if given_data == "form1" and ac_curr %}
    <div class="card" id="magnetic-force">
        <div class="card-header">
            <h2 class="h2">Steps to Convert AC current to DC current </h2>
        </div>

        <div class="card-body">

            <strong>AC DC Relation-</strong>
            <br>
            <p class="btn btn-outline-secondary active">DC = AC * 0.636</p>
            <br>
            <strong>where:</strong>
            <ul>
                <li>AC is the Alternating Current Value </li>
                <li>DC is the Direct Current Value</li>
            </ul>

            <strong>Input values are:-</strong>
            <p>AC = {{ac_curr}} </p>





            <strong>Put values into formula</strong>
            <p> DC = AC * 0.636
            <p> DC = {{ac_curr}} X 0.636 </p>
            <p><b> DC = {{ans}}</p>


        </div>

    </div>
    {% endif %}

    {% if given_data == "form2" and dc_curr %}
    <div class="card" id="magnetic-force">
        <div class="card-header">
            <h2 class="h2">Steps to Convert DC current to AC current </h2>
        </div>

        <div class="card-body">

            <strong>AC DC Relation-</strong>
            <br>
            <p class="btn btn-outline-secondary active">AC = DC / 0.636</p>
            <br>
            <strong>where:</strong>
            <ul>
                <li>AC is the Alternating Current Value </li>
                <li>DC is the Direct Current Value</li>
            </ul>

            <strong>Input values are:-</strong>
            <p>DC = {{dc_curr}} </p>





            <strong>Put values into formula</strong>
            <p> AC = DC / 0.636
            <p> AC = {{dc_curr}} / 0.636 </p>
            <p><b> AC = {{ans}}</p>


        </div>

    </div>
    {% endif %}



</div>



{% endif %}


<script>

    {% if id == 1 %}

    var scrollDiv = document.getElementById("clear").offsetTop;
    window.scrollTo({ top: scrollDiv, behavior: 'smooth' });

    {% endif %}

    function myFunction() {
        {% if given_data == 'form1' %}
            document.getElementsByName("ac_curr")[0].value = "";
            document.getElementById("clear").innerHTML = "";
        {% endif %}

        {% if given_data == 'form2' %}
            document.getElementsByName("dc_curr")[0].value = "";
            document.getElementById("clear").innerHTML = "";
        {% endif %}

    }
</script>

{% endblock %}